ami_id                    = "ami-xxxxxxxxxxxxxxxxx"
controlplane_count        = 1
worker_count              = 2
subnet_id                 = "subnet-xxxxxxxxxxxxxxxxx"
vpc_id                    = "vpc-xxxxxxxxxxxxxxxxx"
security_group_name       = "example-security-group"
security_group_description = "Security group for the crawler"
ssh_allowed_cidr          = "203.0.113.10/32"